.page {
  height: 100%;
}
.bigImagePortal {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
}

.layout {
  display: grid;
  margin-top: 48px;
  gap: 10px;
  grid-template-columns: 211px auto;
}

.navigation {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1000;
  background: white;
}

.mainFunctions {
  position: relative;
}

.counter {
  display: inline-block;
  margin-left: 12px;
}

.working::after {
  content: '';
  position: fixed;
  background: rgba(0, 0, 0, 0.15);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.6;
  cursor: progress;
  z-index: 20;
}

.active {
  background-color: rgb(110, 153, 60);
}

.list {
  height: calc(100vh - 48px);
  overflow: auto;
  scroll-behavior: smooth;
  background-color: lightgrey;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
